
#box
{
  width: 400px;
  height:300px;
  border: 15px solid rgb(84, 8, 49);
  padding: 50px;
  margin-top:60px;
  margin-left: 750px;
    background-color:rgb(140, 21, 21);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
#welc{
    text-align: center;
    left:400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:50px;
  }
  body{
    height:200px;
    background-image:url("loginbackground.jpg");
    background-size: cover;
    background-position: enter;
    padding: 10px 8%;
    position: relative;
  }
  a{
    color:white;
  }
    