<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>


 <div class="Header">
    <h1>RENTING PLATFORM</h1>
 </div>


<div class="Header1">
 <ul>
 <li><a href="update"><button>UPDATE</button></a></li> 
  <li><a href="delete"><button>DELETE</button></a></li> 
  <li><a href=""><button>MEN</button></a></li>
  <li><a href=""><button>WOMEN</button></a></li>
  
</ul>
</div>

<div class="container" height="1000">
  <img src="/womens.png" id="img1" height="550" width="550">
  <img src="/men.png" id="img2" height="250">
  <img src="/kids.png" id="img3" height="250"> 
  <img src="/pagdi.jpeg" id="img4" height="250">
  <img src="/edi.png" id="img5" height="250">
</div>

 </body>
</html>