<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="/signup.css">
</head>
<body>
    
  <h1 id="welc"><b><u>WELCOME</u></b></h1><br>
    <div id="box">
    <div class="container">

    <form action="/signup" method="post" >
          <label for="username"><b>Username</b></label>
        <input placeholder="Userame" name="name" type="text">
        <br>
        <label for="firstname"><b>Firstname</b></label>
        <input type="text" placeholder="Enter Firstname" name="firstname" required>
        <br>
        <label for="lastname"><b>Lastname</b></label>
        <input type="text" placeholder="Enter Last Name" name="lastname" required>
        <br>
        <label for="phonenumber"><b>Number</b></label>
        <input type="number" placeholder="Enter Phone number" name="phonenumber" required>
        <br>
        <label for="email"><b>EmailId</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <br>
        <label for="password"><b>Password</b></label>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>
     <a href="/">Go back to login page</a>
</div>
</div> 
</body>
</html>