<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit profile</title>
    <link rel="stylesheet" href="/update.css">
</head>
<body>
     <div id="box">
    <div class="container">
    <form action="/update" method="post">
    <label for="username"><b>Username</b></label>
    <input placeholder="Name" name="name" type="text">
    <br>
    <label for="newPassword"><b>New Password</b></label>
    <input placeholder="New Password" name="newPassword" type="password">
    <br>
    <input class="sub" type="submit" value="Update Password">
</form>
</div>
</div>
</body>
</html>