<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME</title>
    <link rel="stylesheet" href="/welcome.css">
</head>
<body>
    <div class="Header">
 <ul>
  <li><a href="signup"><button>SIGN IN</button></a></li> 
  <li><a href="login"><button>LOGIN</button></a></li>
   <li id="about"><a href=""><button id="glow">ABOUT</button></a></li>
</ul>
</div>
<div class="title">
<h1>WELCOME!!</h1>
</div> 
<div class="container">
   Online Rental platform <br>for designer clothes and <br>all types of props.
</div> 
<div class="footer">
   <a href=""><img src="/instalogo.png" height="50" width="50"></a>
   <a href=""><img src="/facebooklogo.png" height="50" width="50"></a>
</div>
</body>
</html>